DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=replace-in-staging-and-production
DJANGO_ALLOWED_HOSTS=example.com
PICAFRESA_LOCAL_DATABASE_URL=postgresql:///picafresa
PICAFRESA_STAGING_DATABASE_URL=postgresql://user:password@staging-host/picafresa
PICAFRESA_PRODUCTION_DATABASE_URL=postgresql://user:password@production-host/picafresa
